#accessories{
    padding:1.5rem;
}

.accessories__header{
    font-size:1.5rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-bottom:2rem;
}

.accessories{
    display:flex;
    flex-wrap: wrap;
    gap:2rem;
    max-width: 1400px;
    margin:1rem auto;
}

.accessorie{
    width: 300px;
    margin: 0 auto;
    position: relative;
}

.accessorie-img{
    height: 60%;
    margin-bottom:1rem;
}

.accessorie-content{
    text-align: center;
}

.accessorie-content p{
    margin-bottom: 0.5rem;
}

.accessorie_header{
    font-size:1.3rem;
}

.accessorie-content .primary-button{
    padding: 0.5rem 2rem;
}

.accessorie a .fa-pen{
    position: absolute;
    right: 50px;
    top: -17px;
    color:grey;
}

.accessorie span .fa-trash{
    position: absolute;
    right: 20px;
    top: -17px;
    color:grey;
}

.accessorie i:hover{
    transform: scale(1.1);
}

@media screen and (min-width:700px){
    .accessorie{
        margin:0;
    }
}

@media screen and (min-width:1024px){
    .accessories__header{
        font-size:1.8rem;
    }

    .accessorie_header{
        font-size:1.5rem;
    }

    .accessorie_price{
        font-size:1.1rem;
    }

    .accessorie-content button{
        font-size:1.1rem;
    }

    .accessories{
        gap:4rem;
    }
}

@media screen and (min-width:1600px){
    #accessories{
        padding:4.1rem;
    }
}

