.forms-content{
    background-color: rgb(249, 246, 246);
    padding:1rem;
}

.forms-content form{
    background-color: white;
    border:1px solid black;
    border-radius: 5px;
    max-width: 450px;
    margin: 0 auto;
}

.forms-content form p{
    text-align: center;
    font-size:2rem;
    font-family: 'Montserrat', sans-serif;
    padding:1rem;
}

.forms-content form div{
    padding:0.5rem 1rem;
    display: flex;
    flex-direction: column;
}

.forms-content form div label{
    font-size:1.3rem;
    font-weight: bold;
}

.forms-content form div input{
    font-size:1rem;
    padding:0.3rem;
}

.forms-content form .primary-button{
    display: block;
    margin: 1rem auto;
    padding: 0.8rem 3rem;
    font-size:1rem;
}

.forms-content form select{
    font-size:1rem;
    padding:0.5rem;
}

@media screen and (min-width: 1024px){
    .forms-content{
        padding:3rem;
    }

    .forms-content form .primary-button{
        font-size:1.5rem;
    }

    .forms-content form p{
        font-size: 2.5rem;
    }

    .forms-content form div label{
        font-size: 1.5rem;
    }

    .forms-content form div input{
        font-size: 1.2rem;
    }
}